<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.itunes }}">iTunes</a></li>
        <li><a href="{{ site.baseurl }}/podcast.xml">RSS</a></li>
    </ul> 
</nav>
