---
layout: default
---
<article class="post" >

    <h1 class="u-full-width" >{{ page.title }}</h1>
       
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> | A discussion with {{ page.voices }}</p>
    
    <div class="container center-content">
    <div class="seven columns">
    <audio controls>
        <source src="{{ page.file }}" type="audio/mp3">
    </audio>
    </div>
    <div class="four columns center-content">
    <a href="{{ page.file }}" class="button u-full-height" download="{{ page.title }}">Download Now</a>
    </div>
        </div>
<div>
    {{ content }}
    
    <p><em>Keywords - {{ page.keywords }}</em></p>
</div>

    
</article>

<script src="{{ site.baseurl }}/js/plyr.js"></script>
<script>plyr.setup();</script>
